<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <meta name="description" content="Template designed by Smartik"/>
    <meta name="keywords" content="HTML5, Wordpress, Template, Design, Development"/>


    <!--============================================= BEGIN STYLES ==-->
    <link rel="stylesheet" href="./css/config.css"/>
    <link rel="stylesheet" href="./css/themes/skin_fdf64a7f.php.css"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="./css/ie7.css"/> <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="./css/ie8.css"/> <![endif]-->

    <!--============================================= BEGIN SCRIPTS ==-->
    <script type="text/javascript" src="./js/jquery.js"></script>
    <!--JQuery Library-->
    <script type="text/javascript" src="./js/jquery.preloadify.js"></script>
    <!--Preloadify-->
    <script type="text/javascript" src="./js/scripts-top.js"></script>
    <!--General scripts header-->

    <!--[if IE]>
    <script type="text/javascript" src="./js/html5.js"></script>
    <style type="text/css">.testimonial_arrow {
        display: none !important;
    }</style>
    <![endif]-->

    <title>微锤子</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>


<section id="smk_container_full">
    <section class="smk_container">
        <section class="wrap">
            <section class="top_head_separator">
                <!--============================================================= BEGIN top blocks -->
                <section class="container_12">
                    <div class="grid_4 logo">
                        <a href="index.html"><img src="./images/logo.png" alt="Logo"/></a>
                    </div>
                    <div class="grid_8 top_mod_right">

                        <!--================== BEGIN main menu -->
                        <nav id="horizontal">
                            <ul id="nav" class="nav_simple">
                                <li><a href="./index.html">首页</a>
                                </li>
                                <li><a href="#">新闻视角</a></li>
                                <li><a href="#">方案展示</a></li>
                                <li><a href="#">科技视频</a></li>
                                <li><a href="#">桐城专区</a></li>
                                <li><a href="#">关于我们</a></li>


                            </ul>
                            <!-- End of #nav-->
                        </nav>
                        <!-- End of menu nav#horizontal -->
                        <div class="clear"></div>
                        <!--/================= END main menu -->
                    </div>
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </section>
            <!-- End of .top_head_separator -->
            <div class="clear"></div>
            <!--/============================================================= END top blocks -->
            <!-- =============== HEADER [end] ================ -->

            <!--============================================================== BEGIN content [ .smk_content ] -->
            <div class="clear"></div>
            <div class="header">

                <div id="onebyone_slider">

                    <div class="oneByOne_item">
                        <span class="ob1_title">敏捷、迅速、专业</span>
						<span class="ob1_description">软件的定制愿景：为中小企业打造更多的增值空间！帮助管理者管理企业！
                帮助营销员销售产品！最终找到双赢的平衡点。!</span>
                        <span class="ob1_button"><a href="#" class="default_button">了解更多</a></span>
                        <img src="./images/assets/2.png" class="ob1_img_device1" alt=""/>
                    </div>

                    <div class="oneByOne_item">
                        <span class="ob1_title">拿起手中的锤子，做回真正的你！</span>
                        <span class="ob1_description">拿起手中的锤子，做回真正的你！</span>
                        <span class="ob1_button"><a href="#" class="default_button">了解更多</a></span>
                        <img src="./images/assets/3.png" class="ob1_img_device1" alt=""/>
                    </div>

                    <div class="oneByOne_item">
                        <span class="ob1_title">微动力，新生活</span>
                        <span class="ob1_description">微云端为中小企业打造移动定制服务！</span>
                        <span class="ob1_button"><a href="#" class="default_button">了解更多</a></span>
                        <img src="./images/assets/1.png" class="ob1_img_device1" alt=""/>
                    </div>

                    <div class="oneByOne_item">
                        <span class="ob1_title">扬帆起航</span>
						<span class="ob1_description"> "When the only tool you have is a hammer, every problem begins to resemble a nail."</br>
                            当你仅有的工具是锤子时，所有的问题就渐渐会像是钉子。（狭隘的经验主义）</span>
                        <span class="ob1_button"><a href="#" class="default_button">了解我们</a></span>
                        <img src="./images/assets/4.png" class="ob1_img_device1" alt=""/>
                    </div>

                </div>
                <!-- END OF: #onebyone_slider -->

            </div>
            <div class="clear"></div>

            <section id="smk_content" class="smk_content">
                <div class="container_12">

                    <!-- ===================================================== MAIN CONTENT[begin] -->

                    <!-- ============= HOME NOTICE[begin] -->
                    <div class="home_notice">
                        <h2>嗨! 您想拥有专属于您的定制软件么? 您需要最专业、最贴心、最高端的服务么?<br/>我们为您提供, 您的所需, 就是我们的目标...., </h2>
                    </div>
                    <!-- ============= HOME NOTICE[end] -->

                    <!-- ============= SERVICES -->
                    <div class="home_service clearfix">
                        <div class="s_title s_color_1">
                            <div class="st_in"><h2>专业的服务</h2></div>
                        </div>
                        <div class="service_text s_magic">
                            <p>独特方案</br>设计独特和巧妙快速响应用户需求</p>
                        </div>
                        <div class="clear"></div>
                        <div class="service_text s_heart">
                            <p>贴心服务</br> 我们为您提供一天24小时的在线服务</p>
                        </div>
                    </div>
                    <!-- End service -->

                    <div class="home_service clearfix">
                        <div class="s_title s_color_2">
                            <div class="st_in"><h2>超私人订制</h2></div>
                        </div>
                        <div class="service_text s_monitor">
                            <p>软件定制</br>根据客户需求定制品种软件.</p>
                        </div>
                        <div class="clear"></div>
                        <div class="service_text s_mobile">
                            <p>微信定制</br>支持微信营销服务.</p>
                        </div>
                    </div>
                    <!-- End service -->

                    <div class="home_service clearfix">
                        <div class="s_title s_color_3">
                            <div class="st_in"><h2>精英团队</h2></div>
                        </div>
                        <div class="service_text s_brush">
                            <p>合作模式</br>自由灵活的合作模式</p>
                        </div>
                        <div class="clear"></div>
                        <div class="service_text s_users">
                            <p>高技能人才</br>我们拥有一支高技能团队</p>
                        </div>
                    </div>
                    <!-- End service -->
                    <div class="clear"></div>
                    <!-- ============= / SERVICES[end] -->
                </div>
            </section>
        </section>
    </section>
</section>


<script type="text/javascript" src="./js/iview.js"></script>
<script type="text/javascript" src="./js/raphael-min.js"></script>
<script type="text/javascript" src="./js/jquery.plugins-min.js"></script>

<script type="text/javascript" src="./js/scripts-bottom-min.js"></script>
</body>
</html>